.nav{
  background-color: rgb(2, 2, 48);
}
.menu{
  background-color: blue;
}
.cont{
  height: 100dvh;
}
.im{
  width: 75%  ;
   animation: floating 3s  ease-in-out infinite ;
}
@keyframes floating {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}
.bg{
  background-color: rgb(2, 2, 71);
  
}
/* ده عشان يضمن إن النقط واخدة مساحة الهيدر بس */
.particles-container {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
}

/* عشان تضمن إن الكلام والصورة داماً فوق */
.header-content {
  position: relative;
  z-index: 10 !important;
}
.skill{
  
 background-attachment: fixed;
 background-image: url('./img/pngtree-computer-of-a-programmer-with-lines-code-of-software-image_15746003.jpg');
  min-height: 70dvh;
  background-size: cover;
}
.proj{
  background-attachment: fixed;
  background-image: url('img/Gemini_Generated_Image_l095lfl095lfl095.png');
  min-height: 300dvh;
}
.feed{
  background-image: url('img/feedback.jpg');
  background-size: contain;
  
}
.wgmail{
  width: 40px;
  margin-bottom: 13px;
}